@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: Poppins, sans-serif;
}



.Video_Blob_Fluid {
    position: absolute;
    /*width: 10vw;*/
    /*height: 20vh;*/
    width: 150px;
    height: 150px;
    /*left: 50px;*/
    /*top: 300px;*/
    overflow: visible;

    margin-top: -130px;
    margin-left: 50px;
    z-index: -1;
}
.Video_Class_Fluid {
    position: absolute;
    width: 40vw;
    height: 40vh;
    /*left: 22  0px;*/
    /*top: 0px;*/
    object-fit: cover;
    overflow: visible;
}

.Title_Fluid {
    /*top: 189px;*/
    /*position: absolute;*/
    overflow: visible;
    width: 1480px;
    height: 151px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}

.Form_Font {
    /*top: 189px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 1480px;*/
    /*height: 151px;*/
    /*text-align: center;*/
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    /*font-size: 48px;*/
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}

.Form_Class {
    /*background-color: white;*/
    /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.149));*/
    /*filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));*/
    /*filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));*/
    /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.149));*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*left: 340px;*/
    /*top: 278px;*/

    /*padding-right: 30px;*/
    /*padding-left: 30px;*/
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
    padding: 30px;
    /*margin: 100px;*/
    margin-left: 100px;

    margin-right: 100px;
    /*height: 110vh;*/
    width: 100vh;
}

.Form_White_Button_Styles_Try {
    background-color: white;
    /*width: 100vw;*/
    /*height: 60px;*/

    border: none;
    /*font-family: Poppins;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-size: 20px;*/
    /*color: rgb(0, 0, 0);*/
    /*letter-spacing: 0.9278056335449218px;*/
    /*text-transform: uppercase;*/
}

.Form_White_Button_Styles_Try:hover {
    background-color: rgba(255,155,33,1);
    color: white;
}

.Form_White_Button_Styles_Try:hover span{
    color: white;
}

.Form_White_Button_Styles_Try_Text {
    /*background-color: white;*/
    /*width: 100vw;*/
    /*height: 50px;*/

    /*border: none;*/
    /*font-family: Poppins;*/
    /*font-weight: 400;*/
    /*font-size: 300px;*/
    /*color: rgb(0, 0, 0);*/
    letter-spacing: 0.9278056335449218px;
    text-transform: uppercase;


    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}



.Form_Title {
    /*left: 412px;*/
    /*top: 311px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 340px;*/
    /*height: 50px;*/
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}
.Form_Subtitle {
    /*left: 412px;*/
    /*top: 350px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 100vw;*/
    /*height: 24px;*/
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;

    /*margin-bottom: 10px;*/
}


.Bold_Heading {
    text-align: left;
    font-family: Poppins;
    font-style:normal;
    font-weight:bold;
    font-size:22px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}


.Normal_Text {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}

.form-group {
    margin: 0px!important;
}

.mt-0 {
    margin-top: 0 !important;
}

.General_Text {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}




.Main_Subtitle {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: rgba(0,0,0,0.871);
    margin-left: 20vw;
    margin-right: 20vw;
}


.Main_Text_White {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: white;
    /*margin-left: 10vw;*/
    /*margin-right: 10vw;*/
}





/*catss*/

@media (max-width: 990px) {
    .MeetTheTeamRectangleFluid {
        height: 1px;
        /*width: 333px;*/
        width: 100vw;
    }

    .Special_Row {
        justify-content: center;
    }

    .Special_Card {
        margin: 50px;
    }

    .Hidden_Card {
        display: block;
        visibility: visible;
    }

    .Shown_Card {
        display: none;
        visibility: hidden;
    }
}

.Careers_Logo {
    margin-top: -100px;
    margin-left: 50px;
}

.Surface_c_Class {
    width: 100vw;
    /*position: absolute;*/
    /*width: 333px;*/
    /*height: 358px;*/

    /*left: 0px;*/
    /*top: 0px;*/
    /*overflow: visible;*/
}

.img-responsive {
    width: 100%;
}

.container-fluid {
    /*padding-right:0;*/
    /*padding-left:0;*/
    margin-right:auto;
    margin-left:auto
}
div.container-fluid{

    /*padding-left:0px;*/
    /*padding-right:0px;*/
    margin-right:auto;
    margin-left:auto
    /*background-color:red;*/
}


.Meet_The_Team_Image {
    border-radius: 50%;
}


.Walking_People_Image {
    margin-bottom: 0px;

}

.Dual_Image_Custom {
    margin: 0px;
    width: 100%;
}

.Button_Container {
    padding: 100px;
}







/*
    Sexy Responsive Finesse ;)
*/
@media screen and (max-width: 800px) {
    .Main_Subtitle {
        font-size: 3.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .Button_Container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .Form_White_Button_Styles_Try {
        /*margin-right: 10px;*/
    }

    .Button_Text_Field {
        justify-content: center;
        background-color: gray;
    }
}


@media screen and (max-width: 415px) {
    .Main_Subtitle_Large_White {
        margin-left: 10px;
        margin-right: 10px;
    }
    .Button_Container {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .Form_White_Button_Styles_Try {
        /*margin-right: 10px;*/
    }

    .Button_Text_Field {
        justify-content: center;
        align-content: center;
        background-color: gray;
        /*float: left;*/
    }

    .Form_White_Button_Styles_Try {
        font-size: 4vw;
    }
}


