@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap');



.Title_Fluid {
    /*top: 189px;*/
    /*position: absolute;*/
    overflow: visible;
    width: 1480px;
    height: 151px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}







/*
    Sexy Responsive Finesse ;)
*/
@media screen and (max-width: 800px) {
    .Title_Fluid {
        font-size: 7vw;
    }

}