.Dual_Card_Title {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: rgba(0,0,0,0.871);

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.Dual_Card_Subtitle {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: rgba(0,0,0,0.871);

    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.Dual_Card_Text {
    width: 720px;
    height: 560px;
    background-color: red;
    padding: 80px;
    margin: -40px;
}

.Dual_Card_Image {
    width: 110%;
    height: 110%;

    margin-left: 20px;
    margin-top: -20px;
    margin-right: 0px;
    padding: 0px;
}

.Image_Tile {
    height: 560px;
    background:transparent url('../../images/Clean/Global/Surface_cg.png') no-repeat top center /cover;
    /*background:transparent url('../../media/videos/100.mp4') no-repeat top center /cover;*/

}



.Shown_Card {
    display: block;
    visibility: visible;
}

.Hidden_Card {
    display: none;
    visibility: hidden;
}


@media (max-width: 990px) {
    .Special_Row {
        justify-content: center;
    }

    .Special_Card {
        margin: 50px;
    }

    .Hidden_Card {
        display: block;
        visibility: visible;
    }

    .Shown_Card {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 800px) {
    .Dual_Card_Title {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        font-size: 7vw;
    }
    .Dual_Card_Subtitle {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        font-size: 5vw;
    }
}

