@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap');





.Video_Blob_Fluid {
    position: absolute;
    /*width: 10vw;*/
    /*height: 20vh;*/
    width: 150px;
    height: 150px;
    /*left: 50px;*/
    /*top: 300px;*/
    overflow: visible;

    margin-top: -130px;
    margin-left: 50px;
    z-index: -1;
}
.Video_Class_Fluid {
    position: absolute;
    width: 40vw;
    height: 40vh;
    /*left: 22  0px;*/
    /*top: 0px;*/
    object-fit: cover;
    overflow: visible;
}

.Title_Fluid {
    /*top: 189px;*/
    /*position: absolute;*/
    overflow: visible;
    width: 1480px;
    height: 151px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}

.Form_Font {
    /*top: 189px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 1480px;*/
    /*height: 151px;*/
    /*text-align: center;*/
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    /*font-size: 48px;*/
    color: rgb(255, 255, 255);
    letter-spacing: 0.3px;
}

.Form_Class {
    /*background-color: white;*/
    /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.149));*/
    /*filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));*/
    /*filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));*/
    /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.149));*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*left: 340px;*/
    /*top: 278px;*/

    /*padding-right: 30px;*/
    /*padding-left: 30px;*/
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
    padding: 30px;
    /*margin: 100px;*/
    margin-left: 50px;

    margin-right: 50px;
    /*height: 110vh;*/
    width: 135vh;
}

.Form_Blue_Button_Styles_Try {
    background-color: rgba(0,161,241,1);
    width: 275px;
    height: 60px;

    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.9278056335449218px;
    text-transform: uppercase;

}

.Form_White_Button_Styles_Try {
    background-color: rgb(255, 255, 255);
    width: 243px;
    height: 60px;

    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.9278056335449218px;
    text-transform: uppercase;

}


.Form_Title {
    /*left: 412px;*/
    /*top: 311px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 340px;*/
    /*height: 50px;*/
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}
.Form_Subtitle {
    /*left: 412px;*/
    /*top: 350px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 100vw;*/
    /*height: 24px;*/
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;

    /*margin-bottom: 10px;*/
}


.Bold_Heading {
    text-align: left;
    font-family: Poppins;
    font-style:normal;
    font-weight:bold;
    font-size:22px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}


.Normal_Text {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}

.form-group {
    margin: 0px!important;
}

.mt-0 {
    margin-top: 0 !important;
}

.General_Text {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.3px;
}



.Card_Overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}


.Dual_Main_Card1 {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.30),
                    rgba(0, 0, 0, 0.30)
            ),
            transparent url('../../images/Home/Surface_ez.png') no-repeat top center /cover;
}
.Dual_Main_Card2 {

    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.30),
                    rgba(0, 0, 0, 0.30)
            ),
            transparent url('../../images/Home/Surface_eu@2x.png') no-repeat top center /cover;
}


.Main_Card {
    /*height: 960px;*/
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.30),
                    rgba(0, 0, 0, 0.30)
            ),
            transparent url('../../images/Clean/EmployersClean/man-in-front-of-his-computer-4@2x.png') no-repeat top center /cover;
}
.Main_Card_Title_Text {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.3px;
}
.Main_Card_Subtitle_Text {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255,255,255,1);

    margin-left: 10vw;
    margin-right: 10vw;
}


.Main_Title {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: rgba(0,0,0,0.871);
    letter-spacing: 0.0764075231552124px;
}
.Title_Rect_Blue {
    height: 5px;
    width: 225px;
    background-color: rgba(0,161,241,1);
}


.Main_Subtitle {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,0,0,0.871);
    margin-left: 10vw;
    margin-right: 10vw;
}


.Dual_Card_Title {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: rgba(0,0,0,0.871);
    letter-spacing: -0.08848798751831055px;

    padding: 50px;
}

.Dual_Card_Subtitle {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.0974195957183838px;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
}

.Dual_Card_Text {
    width: 720px;
    height: 560px;
    background-color: red;
    padding: 80px;
    margin: -40px;
}

.Dual_Card_Image {
    width: 110%;
    height: 110%;
    /*width: 720px;*/
    /*height: 560px;*/
    /*padding: 80px;*/
    /*margin: -40px;*/
    /*min-height: auto;*/
    /*background:  url('../../images/Clean/Global/Surface_cg.png') no-repeat center center /cover;*/


    margin-left: 20px;
    margin-top: -20px;
    margin-right: 0px;
    padding: 0px;
}



.General_Title_About_Us {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,0,0,0.871);
}

.General_Subtitle_About_Us {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(0,0,0,0.871);
}

.MeetTheTeamRectangleFluid {
    /*position: absolute;*/
    height: 600px;
    width: 1px;
    /*object-fit: cover;*/
    /*top: 0px;*/
    /*overflow: visible;*/
    background-color: rgba(0, 0, 0, 0.6);
}

.Shown_Card {
    display: block;
    visibility: visible;
}

.Hidden_Card {
    display: none;
    visibility: hidden;
}


@media (max-width: 990px) {
    .MeetTheTeamRectangleFluid {
        height: 1px;
        width: 333px;
    }

    .Special_Row {
        justify-content: center;
    }

    .Special_Card {
        margin: 50px;
    }

    .Hidden_Card {
        display: block;
        visibility: visible;
    }

    .Shown_Card {
        display: none;
        visibility: hidden;
    }
}

.img-fluid {
    width: 100%;
    max-width: 100%;
}


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.To_Be_Featured_In_Text_Style_Correct {
    /*left: 156px;*/
    /*top: 1201px;*/
    /*top: 50px;*/
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*width: 415px;*/
    /*height: 57px;*/
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: rgba(168,168,168,1);
}




/* scroll cards*/
.Card_Scroll_Title_Fluid_Download {
    /*left: 236px;*/
    /*top: 6367px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 939px;*/

    /*margin-left: 80px;*/
    /*margin-top: -100px;*/

    /*height: 65px;*/
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: rgba(0,0,0,0.871);

    /*top: 86px;*/
}

.Card_Scroll_Blue_Rect_Fluid_Download {
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 282px;*/
    height: 7px;
    width: 282px;
    text-align: center;

    /*left: 579px;*/
    /*top: 6432px;*/

    /*top: 151px;*/

    /*margin-left: 570px;*/
    /*margin-top: -30px;*/

    background-color: rgba(0,161,241,1);
}

.row-scroll{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /*margin-left: 75px;*/
    /*margin-right: 75px;*/
    padding-left: 75px;
    margin-top: 50px;
    fill: rgb(245, 245, 245);

}
.card {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}




.Blue_Section {
    background-color: rgba(25,192,247,1);
    color: white;
    padding: 75px;
}


.Video_Blob_Fluid {
    position: absolute;
    /*width: 10vw;*/
    /*height: 20vh;*/
    width: 150px;
    height: 150px;
    /*left: 50px;*/
    /*top: 300px;*/
    overflow: visible;

    margin-top: -200px;
    margin-left: 80px;
    z-index: -1;
}

.Red_Circle_Full {
    filter: drop-shadow(0px 2px 20px rgba(231, 76, 60, 1));
    width: 298px;
    height: 298px;
}
.Red_Circle_Full_Class {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

.Red_Circle_Full_PT2 {
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 300px;*/
    /*height: 300px;*/
}
.Red_Circle_Full_PT2_Class {
    /*fill: transparent;*/
    /*stroke: rgba(231,76,60,1);*/
    /*stroke-width: 8px;*/
    /*stroke-linejoin: miter;*/
    /*stroke-linecap: butt;*/
    /*stroke-miterlimit: 10;*/
    /*shape-rendering: auto;*/
}

.Red_Circle_70 {
    /*overflow: visible;*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*transform: translate(0px, 0px) matrix(1,0,0,1,0,93) rotate(90deg);*/
    /*transform-origin: center;*/

    /*margin-top: -390px;*/
    /*margin-left: 23px;*/
}
.Red_Circle_70_Class {
    /*fill: transparent;*/
    /*stroke: rgba(231,76,60,1);*/
    /*stroke-width: 8px;*/
    /*stroke-linejoin: miter;*/
    /*stroke-linecap: butt;*/
    /*stroke-dasharray: 650;*/
    /*stroke-dashoffset: 0;*/
    /*stroke-miterlimit: 4;*/
    /*shape-rendering: auto;*/
}

.Impacts_Title {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: rgba(0,0,0,0.871);
    letter-spacing: 0.13036599159240722px;
}

.Impacts_Subtitle {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.0974195957183838px;
}


.Bottom_Dual_Panel_Demo_Download_Prompt_Single_Panel_Heading_Fluid {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 46.19194030761719px;
    color: rgba(255,255,255,1);
}
.Bottom_Dual_Panel_Demo_Download_Prompt_Single_Panel_Text_Fluid {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 19.176780700683594px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.13036599159240722px;
}

.Red_Circle_70_White {
    width: 282px;
    height: 282px;
    transform: translate(0px, 0px) matrix(1,0,0,1,0,93) rotate(90deg);
    transform-origin: center;
}
.Red_Circle_70_White_Class {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

.Red_Circle_70_Red {
    /*width: 282px;*/
    /*height: 282px;*/
    /*transform: translate(0px, 0px) matrix(1,0,0,1,0,93) rotate(90deg);*/
    /*transform-origin: center;*/
}
.Red_Circle_70_Red_Class {
    /*fill: transparent;*/
    /*stroke: rgba(231,76,60,1);*/
    /*stroke-width: 8px;*/
    /*stroke-linejoin: miter;*/
    /*stroke-linecap: butt;*/
    /*stroke-dasharray: 650;*/
    /*stroke-dashoffset: 0;*/
    /*stroke-miterlimit: 4;*/
    /*shape-rendering: auto;*/
}

.Blob1_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: -100px;
    margin-left: -65px;
}

.Blob1_Fluid {
    position: absolute;
    height: 100px;
    width: 100px;
    /*right: -75px;*/
}

.Blob2_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: -150px;
}

.Blob2_Fluid {
    position: absolute;
    height: 100px;
    width: 100px;
    right: -75px;
}

.Blob3_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 385.623px;
    height: 384.102px;
    /*left: 30vw;*/
    margin-bottom: -250px;
}

.Blob3_Fluid {
    position: absolute;
    width: 385.623px;
    height: 384.102px;
    right: -250px;
}

.Blob4_Fluid_OuterOuter {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 600px;
    z-index: 1001;
    margin-bottom: -100px;
    margin-right: -16px;
    margin-top: -500px;
}

.Blob4_Fluid_Outer {
    overflow: visible;
    position: relative;
    width: 217.165px;
    height: 500px
    /*margin-top: -150px;*/
}

.Blob4_Fluid {
    position: absolute;
    width: 217.165px;
    height: 246.401px;
    right: -125px;
    top: 400px;
    z-index: 1000;
}

.Blob5_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 40vw;
    height: 40vw;
    left: 50vw;
    margin-top: -250px;
}

.Blob5_Fluid {
    position: absolute;
    /*width: 380.301px;*/
    /*height: 378.643px;*/
    /*top: 40vh;*/
    top: 350px;
}


.DBlob1_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 80.38px;
    height: 83.621px;
    left: 25px;
    top: 25px;
}
.DBlob1_Fluid {
    position: absolute;
    width: 80.38px;
    height: 83.621px;
    /*top: -250px;*/
    /*right: 50px;*/
}

.DBlob2_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 80.38px;
    height: 83.621px;
    left: 25px;
    top: 25px;
}
.DBlob2_Fluid {
    position: absolute;
    width: 80.38px;
    height: 83.621px;
    /*top: -250px;*/
    /*right: 50px;*/
}

.DBlob3_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 52px;
    height: 64px;
    left: -35px;
    top: 25px;
}
.DBlob3_Fluid_Outer2 {
    overflow: hidden;
    position: relative;
    width: 52px;
    height: 64px;
    /*left: -35px;*/
    top: 30px;
}
.DBlob3_Fluid {
    position: absolute;
    width: 52px;
    height: 64px;
    /*top: -250px;*/
    /*right: 50px;*/
}

.DBlob4_Fluid_Outer {
    overflow: hidden;
    position: relative;
    width: 52px;
    height: 64px;
    left: -35px;
    top: 53vh;
}
.DBlob4_Fluid {
    position: absolute;
    width: 52px;
    height: 64px;
    /*top: -250px;*/
    /*right: 50px;*/
}




/*
    New improved red circles
*/
.Circle_Title {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.13036599159240722px;
}
.Circle_Desc {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: rgba(0,0,0,0.38);
    letter-spacing: 0.13036599159240722px;
}
.Circle_Mid_Text_Container {
    margin-top: -250px;
    margin-bottom: 100px;
}
.Circle_Mid_Text1 {
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 32.71929168701172px;
    color: rgba(0,0,0,0.871);
    letter-spacing: 0.0764075231552124px;

    /*margin-right: -120px;*/
}
.Circle_Mid_Text1-1 {
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 32.71929168701172px;
    color: rgba(0,0,0,0.871);
    letter-spacing: 0.0764075231552124px;

    /*margin-left: -160px;*/
    /*margin-right: 160px;*/
    /*width: 50px;*/
}
.Circle_Mid_Text1-2 {
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 32.71929168701172px;
    color: rgba(0,0,0,0.871);
    letter-spacing: 0.0764075231552124px;

    /*margin-right: -150px;*/
}
.Circle_Mid_Text2 {
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 93.40469360351562px;
    color: rgba(0,0,0,0.871);
    letter-spacing: -0.1605914878845215px;

    margin-top: -50px;
}
.Circle_Mid_Text2-2 {
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 93.40469360351562px;
    color: rgba(0,0,0,0.871);
    letter-spacing: -0.1605914878845215px;

    margin-top: -50px;
    margin-left: -25px;
}
.Circle_Mid_Text3 {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19.176780700683594px;
    color: rgba(0,0,0,0.38);
    letter-spacing: 0.13036599159240722px;

    margin-top: -25px;
}



.NRed_Circle_1_Container {
    filter: drop-shadow(0px 2px 20px rgba(231, 76, 60, 1));
    position: absolute;
    overflow: hidden;
    width: 350px;
    height: 350px;
    /*left: 350px;*/
    /*top: 93px;*/
}
.NBlue_Circle_1_Container {
    filter: drop-shadow(0px 2px 20px rgba(25, 192, 247, 1));
    position: absolute;
    overflow: hidden;
    width: 350px;
    height: 350px;
    /*left: 408px;*/
    /*top: 93px;*/
}
.NRed_Circle_1_White_Class {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.NRed_Circle_1_Fill_Class {
    fill: transparent;
    stroke: rgba(231,76,60,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.NBlue_Circle_1_Fill_Class {
    fill: transparent;
    stroke: rgba(25,192,247,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}

.NRed_Circle_1_Fill_Class::after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    margin: -30% 0 0 -30%;
}


.NRed_Circle_70_Container {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 350px;
    transform: translate(0px, 0px) matrix(1,0,0,1,0,93) rotate(90deg);
    transform-origin: center;
}

.NRed_Circle_Fill_Custom {
    overflow: visible;
    position: absolute;
    width: 351px;
    height: 351px;
    /*transform: translate(0px, 0px) matrix(1,0,0,1,0,93) rotate(90deg);*/
    transform-origin: center;
    /*left: 39px;*/
    /*top: -60px;*/
}
.NRed_Circle_Fill_Custom_Class {
    fill: transparent;
    stroke: rgba(231,76,60,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 650;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}


.NBlue_Circle_Fill_Custom1 {
    overflow: visible;
    position: absolute;
    width: 351px;
    height: 351px;
    /*transform: translate(0px, 0px) matrix(1,0,0,1,0,93) rotate(90deg);*/
    /*transform-origin: center;*/
}
.NBlue_Circle_Fill_Custom_Class1 {
    fill: transparent;
    stroke: rgba(25,192,247,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 770;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}


.NBlue_Circle_Fill_Custom_Class2 {
    fill: transparent;
    stroke: rgba(25,192,247,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 730;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.NBlue_Circle_Fill_Custom_Class3 {
    fill: transparent;
    stroke: rgba(25,192,247,1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}




/*
    scroll card list arrows
*/
.right_Class_Fluid {
    position: absolute;
    width: 31px;
    height: 40px;
    /*left: 1293px;*/
    top: 0px;
    overflow: visible;
}
.Path_Fluid {
    overflow: visible;
    /*position: absolute;*/
    /*width: 20.5px;*/
    height: 41px;
    /*left: 11px;*/
    /*top: 0px;*/
    /*transform: matrix(1,0,0,1,0,0);*/
}
.long_arrow_left_Class_Fluid {
    position: absolute;
    width: 22px;
    height: 8px;
    /*left: 0px;*/
    top: 16px;
    overflow: visible;
    margin-left: -10px;
}
.Arrow_Container_Fluid {
    margin-top: -300px; margin-bottom: 300px; margin-left: 30px; margin-right: 30px;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}





/*
    Mess
*/
.Get_Started_Today_Class {
    /*left: 273px;*/
    /*top: 3385px;*/
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*width: 917px;*/
    /*height: 75px;*/
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    color: rgba(255,255,255,1);

    /*top: 50px;*/
}
.A_dwarf_who_brings_a_Class {
    /*left: 275px;*/
    /*top: 3491px;*/
    /*position: absolute;*/
    /*overflow: visible;*/
    /*width: 890px;*/
    /*height: 97px;*/
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.13036599159240722px;

    /*top: 150px;*/
}
.Image_Tile {
    height: 560px;
    background:transparent url('../../images/Clean/Global/Surface_cg.png') no-repeat top center /cover;
}




/*
    Sexy Responsive Finesse ;)
*/
@media screen and (max-width: 800px) {
    .Get_Started_Today_Class {
        font-size: 6vw;
    }
    .A_dwarf_who_brings_a_Class {
        font-size: 3vw;
    }

    .Main_Card_Title_Text {
        font-size: 6vw;
    }
    .Main_Card_Subtitle_Text {
        font-size: 4vw;
        margin-left: 0px;
        margin-right: 0px;
    }
}

